body{
    font-family: 'Open Sans', sans-serif !important;
}

/*-------------------------------------------------
    OVERRIDE ANGULAR MATERIAL DESIGN
 -------------------------------------------------*/
md-backdrop.md-opaque.md-default-theme {
    background-color: rgba(0,0,0,0.5) !important;
}

md-checkbox {
    margin-right:0px !important;
}

/*-------------------------------------------------
    OVERRIDE LEAFLET
 -------------------------------------------------*/

.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}
